.btn_external button{
  width: 120px;
}

.btn_filter button{
  width: 95%;
  font-size: 15px;
}

@media (max-width: 800px) {
  .filter {
    flex-direction: column;
  }

  .filter_container{
    width: 100%;
      margin-top: 10px;
  }
  .btn_filter{
    width: 100%
  }
}

button{
  z-index: 0 !important;
}
